* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #464343;
  font-family: sans-serif;
  color: aliceblue;
}

.heading {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.img{
    max-width: 55px;
    height: 38px;
}

.draw-board {
  width: 416px;
  height: 416px;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  background-color: aliceblue;
}
.child {
  height: 52px;
  width: 52px;
  border: 1px solid black;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  gap: 3vw;
  padding: 2vh 0;
  width: 416px;
}

.tools button {
  padding: 5px 16px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: anchor-center;
    font-family: sans-serif;
    font-weight: 600;
    color: aliceblue;
    font-size: 15px;
    max-width: 178px;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    margin-left: 10px;
    background: none;
    cursor: pointer;
    border: 2px solid aliceblue;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

